.weather-container {
    /* max-width: 400px; */
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content:center;
    gap: 50px;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .current-weather,
  .forecast {
    margin-bottom: 20px;
  }
  
  .error-message {
    color: red;
  }
  
  .forecast-item {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
  }
  
  .forecast-item p {
    margin: 5px 0;
  }
  
  